.nav {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #243E2C;
}

.nav-left-content, .nav-right-content {
  display: flex;
}

.nav-right-content {
  margin-left: auto;
}

.nav-link {
  padding: 16px 16px;
  text-decoration: none;
  font-size: clamp(12px,2vw,24px);
  color: rgba(255,255,255,0.7);
  text-align: center;
  justify-content: center;
}

.nav-brand {
  font-size: clamp(16px,3vw,32px);
  color: white;
}

.nav-link:not(.nav-brand):hover {
  color: rgba(255,255,255,0.9);
}

amplify-authenticator {
  background-color: rgba(0,0,0,0);
  padding: 5px;
}
